@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400;500;700&display=swap');
@import url('./common.css');
/* font-family: 'Noto Sans HK', sans-serif; */

/* --------main-------- */


main{
    width:100%; height:100%;
    margin:0 auto;
    }


/* slide */

.mainspot{
    width:100%; height:100vh;
    margin:0 auto;
    position:relative;
}
.mainspot .slide{
    position:relative;
    width:100%; 
}
.mainspot .slide figure{
    width:100%; height:100%;
    position:relative;
}
.mainspot .slide figure img{
    width:100%; height:100%;
}
.mainspot .slide figure figcaption{
    width:50%;
    position:absolute;
    top:70%; left:10%;
    margin:0 auto;
    text-align:left;

}
.mainspot .slide figure figcaption p{
    width:100%; height:100%;
    font-size:40px;
    white-space: pre-line;
    line-height:1.3em;
    margin:0;
}



/* direc */

.slide .direc{
    position:absolute;
    left:10%; top:45%;
    width:80%; margin:0 auto;
    text-align:center;
}
.slide .direc div{
    color:white;
    width:100%; margin:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}


/* indigator */
.mainspot .slide .indi{
    position:absolute;
    left:10%; bottom:5%;
    
}
.mainspot .slide .indi ul{

}
.mainspot .slide .indi ul li{
    display:inline-block;
    width:15px; height:15px;
    background:white;
    border-radius: 50%;
    margin:0 3px;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
 
}

/* info */

.info{
    position:absolute;
    right:5%; bottom:5%;
    width:8%; height:30px;
    background:white;
    opacity:0.8;
    text-align:center;
    vertical-align: middle;
}
.info a{
    display:inline-block;
    text-decoration: none;
    font-size:14px;
    text-align:center;
    color:black;
    font-weight:bold;
    line-height:30px;
}
.info a::before{
    content:'';
    width:20px; height:20px;
    background:url('../imgs/info-icon.png') no-repeat;
    display:inline-block;
    vertical-align: middle;
    margin-right:3px;
    transform:translateY(-7%);
}


/* popup */


.popup{
    width:80%; margin:0 auto;
    position:absolute;
    left:10%; top:10%;
}
.popup_all{
    width:100%;
    background:white;
    display:flex;
    justify-content: space-between;
    align-items: top;
    padding:5%;
    position:relative;
}

.close{
    position:absolute;
    right:5%; top:7%;
}
.fas{font-size:1.5rem;
    color:#1c222e;
    }
.popup_all.close:after{
    content:'';
    display:block;
    clear:both;
}

.popup h4{
    margin:20px 0;
    font-size:16px;
}
.popup h4::before{
    content:'';
    width:3px; height:16px;
    background:#1c222e;
    display:inline-block;
    margin:auto 10px auto 0;
    /* margin-right:10px; */
}

.popup .popup_01{
    width:45%;
}
.popup .popup_01 div{
    
}
.popup .popup_01 div p{
    white-space: pre-line;
    font-size:14px;
    line-height: 2em;
    color:#555;
    margin-right:5%;
}
.popup .popup_01 div p::before{
    content:'';
    width:3px; height:3px;
    background:#000;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right:2%;
}
.popup .popup_01 a{
    width:18%; height:8%;
    background:#1c222e;
    text-align:center;
    display:inline-block;
    color:white;
    line-height: 3.5em;
    font-size:0.5rem;
    margin-top:10%;
}
.popup .popup_01 a:hover{
    color:#ceb581;
}

.popup .popup_02{
    width:45%;
}
.popup .popup_02 h4{}
.popup .popup_02 table{
    width:100%;
    table-layout: fixed;
    font-size:13px;
    text-align:center;
}

.popup .popup_02 .thead{
    background:#eee;
}
.popup .popup_02 p{
    font-size:12px;
    margin-top:2%;
}
.popup .popup_02 p b{
    color:#ceb581;
}


/* --------------responsive----------- */

@media (max-width:480px){
    html,body{width:100%;}

    .mainspot{
        margin:0 auto;
        position:relative;
        overflow: hidden;
    }
    .mainspot .slide{
        width:320%; height:100vh;
        position:relative;
    }
    .mainspot .slide figure{
        width:100%;
        position:relative;
    }
    .mainspot .slide figure img{
        width:100%; 
        transform: translateX(-25%);
    }
    .mainspot .slide figure figcaption{
        width:100%;
        position:absolute;
        top:83%; left:3%;
    }
    .mainspot .slide figure figcaption p{
        width:100%; height:100%;
        font-size:20px;
        white-space: pre-line;
        line-height:1.3em;
        margin:0;
    }
    .mainspot .slide .indi ul li{
        width:10px; height:10px;}
    
    /* indigator */
    .mainspot .slide .indi{
        position:absolute;
        left:3%; bottom:5%;}
    
    /* direc */
    .slide .direc{
        position:absolute;
        left:3%; top:45%;
        width:27%; margin:0 auto;
        text-align:center;
    }

    /* popup */

    /* .popup{display:none;} */
    .popup_all{display:block;}
    .popup .popup_01{width:100%;}
    .popup .popup_02{width:100%;}
    .popup .popup_01 a{
        width:100%; height:8%;
        background:#1c222e;
        text-align:center;
        display:inline-block;
        color:white;
        line-height: 3.5em;
        font-size:0.5rem;
        margin-bottom:10%;
    }
    .popup .popup_01 div p{
        font-size:0.8rem;
    }
    .slide .direc div {
        width:94%;
    }
    .close{
        position:absolute;
        right:5%; top:2%;
    }
    .info{
        position:absolute;
        left:22%; bottom:5%;
        width:100px; height:30px;}
    .info a{
        line-height:30px;
        font-size:14px;
    }
}