@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap');



html, body{width:100%; margin:0; background:#f6f6f6;}
p,figure,h1,h2,h3,h4,h5,h6{margin:0;}
ul,li{list-style: none; margin:0; padding:0;}
*{
    box-sizing:border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
img{vertical-align: top;}
a{text-decoration: none;
}
main{
    width:100%;
    margin:45px auto 0;
}
.gallery{z-index:1001;}

/* scroll down */
svg{
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    stroke: white;
    fill: white;
    animation:scrollLoad 1s 1s cubic-bezier(0.42, 0, 0.29, 0.98) both;
}
.main_mouse{bottom:-5%;}
.sub_mouse{bottom:50%;}

@keyframes scrollLoad{
    0%{opacity:0; width: 400px;}
    100%{opacity:1; width:300px;}
}

.down{
    animation:scroll 1s 1s cubic-bezier(0, 0, 0.76, 0.29) infinite;
}
@keyframes scroll{
    0%{opacity:0;}
    100%{opacity:1;}
}

.down:nth-of-type(1){
    animation-delay: 0.3s;
}
.down:nth-of-type(2){
    animation-delay: 0.35s;
}


/* --------header-------- */

.openmenu, .burger{display:none;}

header{
    width:100%; height:45px;
    margin:0 auto;
    padding:0;
    position:fixed;
    z-index: 20000;
    left:0; top:0;
    background:#003a3a;
    
    }
.head{
    width:80%; margin:0 auto;
    
}
.head:after{
    content:'';
    clear:both;
    display:block;
}
.head h1{
    float:left;
    height:100%;
}
.head h1 a{
    color:white;
    line-height: 1.8em;
    display: inline-block;
    height: 100%;
}
.head .menu{
    float:right;
    margin-top:10px;
    
}
.head .menu ul{
}
.head .menu ul li{
    display:inline-block;
    margin:0 20px;
    position:relative;
    z-index:2;
}
.head .menu .last{
    margin-right:0;
}
.head .menu li a{
    color:white;
}
.head .menu .submenu{
    position:absolute;
    transform: translateX(-50%);
    left:50%;
    background:white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    display:none;
    text-align: center;
}
/* .head .menu .last .submenu{
    position:absolute;
    left:0; bottom:0;
    transform: translateY(100%) translateX(-10%);
} */
.head .menu .submenu li{
    text-align: center;
}
.head .menu .submenu li a{
    color:black;
    padding:10px;
    display:inline-block;
    font-size:0.8rem;
    white-space: nowrap;
    text-align: center;
}

.head .menu li:hover .submenu{
    display:block;
}

/* top-button */

.fixed{
    position:fixed;
    bottom:5%;
    z-index:200000;
    text-align:center;
    opacity:0;
    transition:0.5s;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    right: 5%;
}
.fixed.back{
    opacity: 1;
}
.fixed a{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    background: #1c222e;
    color: white;
}

/* reser-button */
.schejule{
    background:#003a3a;
    position:fixed;
    bottom:15%;
    z-index:100000;
    transition:0.5s;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    right: 5%;
}

.schejule a{
    font-size:1.8em;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%; height:100%;
}
.time{vertical-align: middle;}
.schejule:hover{
    background:#ceb581;
}

.bell{
    animation: booking 0.5s cubic-bezier(0.39, 0.58, 0.57, 1) infinite;
}
@keyframes booking{
    0%{transform: rotate(10deg);}
    100%{transform: rotate(-10deg);}
}
.schejule:hover .bell{
    animation:none;
}

/* title */

.prologue_title{
    width:100%; 
    margin:0 auto;
    
}
.prologue_title figure{
    position:relative;
    margin:0;
    width:100%; height:100%;
}
.prologue_title figure img{
    width:100%;
    margin:0;
    
}
.prologue_title figure figcaption{
    width:100%;
    position:absolute;
    left:0%; bottom:35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prologue_title figure figcaption p{
    font-size: 40px;
    margin:0;
    text-align:center;
}
.prologue_title figure figcaption small{
    font-size:16px;
    text-align:center;
    display:block;
    margin:0;
}

/* tab */

.prologue_tab{
    padding:7% 0;
}
.prologue_tab ul{
    display:flex;
    justify-content: center;
    align-items: center;
}
.prologue_tab ul li{
    display: inline-block;
    margin:0 20px;
    width:150px; height:40px;
    background: #e5e5e5;
    text-align: center;
    line-height: 40px;
}

.prologue_tab li:hover,
.prologue_tab .active{
    background: #ceb581;
}
.prologue_tab li:hover a,
.prologue_tab .active a{
    color:white;
}
.prologue_tab ul li a{
    display:inline-block;
    text-decoration: none;
    font-size:16px;
    color:black;
}

/* subtitle */

.subtitle{
    width:100%; margin:8% auto;
}
.subtitle h2{
    position:relative;
    font-weight: 400;
}
.subtitle h2::after{
    content:'';
    border-bottom:1px solid #dcdcdc;
    display:block;
    width:80%; margin:0 auto;

}
.subtitle h2 span{
    position:absolute;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    padding:0 20px; 
    background:#f6f6f6;
    font-size:18px;
}

/* table */
table{border-collapse:collapse;}


/* footer */

footer{
    width:100%; height:100%;
    margin:0 auto;
    background:#1c222e;
    z-index: 3000;
    position:sticky;
}

.foot{
    width:80%; height:100%;
    margin:0 auto;
    text-align:center;
    padding:3% 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .foot div {
    padding:3% 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.foot p{
    font-size:12px;
    color:white;
    font-weight: bold;
    margin:0;
}
.foot ul{}
.foot ul li{
    display: inline-block;
    color:#a9a8a8;
    margin:10px 20px;
    font-size:10px;
}
.foot small{
    display:block;
    font-size:10px;
    color:#a9a8a8;
    margin:0 0 10px 0;
}
.foot a{
    font-size:10px;
    display:block;
    width:132px; height:25px;
    border:1px solid #a9a8a8;
    text-decoration: none;
    color:#a9a8a8;
    text-align:center; line-height:25px;
}

@media (max-width:480px){
    main{margin:42px 0 0;}

    .schejule{width:3rem; height:3rem;}
    .schejule a{font-size:1.5rem;}
    .fixed{width:3rem; height:3rem;}
    .fixed a{
        font-size: 0.8rem;
    }
    
    header{width:100%; margin:0 auto; height:auto;}
    .head{
        width:100%;
        margin:0 auto;
        position:relative;
        padding-left:10%;
        padding-right:10%;
        padding-bottom: 2px;
        padding-top: 2px;
        }
    
    .burger{
        position: absolute;
        top:30%; right:10%;
        display:block;
        float:right;
        color:white;
    }
    .head .menu{
        width:100%; height:auto;
        background:#003a3a;
        position:absolute;
        width:100%;
        left:100%; right:-100%; top:70%;
        transition:.35s;
    }
    .head .menu ul{
        width:100%; height:100vh;
    }
    .head .menu ul li{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding:15px 0;
    }
    .head .menu li:nth-of-type(4){
    margin-right:20px;
    }
    .head .menu ul li > a{
        color:#ceb581;
        text-align: center;
        text-decoration: underline;
        
    }
    .head .menu .submenu{
        width:100%; height:auto;
        background:none;
        position:static;
        display:block;
        color:white;
        transform: translateY(0) translateX(0);
    }
    
    .head .menu .submenu li{
        padding:0;
    }
    .head .menu .submenu li a{
        color:white;
        text-decoration: none;
    }
    .head .menu .submenu li a:hover{
        color:#ceb581;
    }
    .head .menu .last .submenu{
        width:100%; height:auto;
        position:static;
        display:block;
        transform: translateY(0) translateX(0);
    }
    .openmenu:checked + .burger + .menu{
        width:100%;
        left:0; top:70%;
    }
    .foot div {
        padding:8% 0;
    }
    .foot div p{
        margin-bottom:5px;
    }
    .foot ul li{
        display: inline-block;
        color:#a9a8a8;
        margin:0;
        font-size:10px;
    }

}