@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans HK', sans-serif; */
@import url('./common.css');


ul,li{list-style: none; margin:0; padding:0;}
a{
    text-decoration: none;
}
.imgHolder {
    height: 30em;
    overflow: hidden;
    position: relative;
}

.imgHolder img {
    width: 100%;
    min-height: 500px;
    left: 50%;
    -webkit-transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    position: absolute;
}
.imgHolder::after{
    content: '';
    width:100%; height: 100%;
    background:rgba(0,0,0,0.3);
    position:absolute;
    left:0; top:0;
}

.title {
    position: absolute;
    font-size: 2em;
    font-weight: 100;
    background: rbga(22, 41, 35, 0.5);
    color: #fff;
    letter-spacing: 0.2em;
    top: 50%;
    left: 50%;
    width: 80%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.header:hover {
    cursor: default;
}

.Room_wrap{
    margin:0 10%;
    display: flex;
    padding:5% 0;
    align-items: center;
}
.Room_wrap:nth-of-type(1){
    padding-top:10%;
}
.roomName{
    width:20%;
}

.roomName p{
    font-size:14px;
    margin-top:10px;
}
.roomName p::before{
    content:'-';
}
.roomList_container{
    width:80%;
}
.roomList{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.roomList li{
    width:45%;
    
}
.roomList li a{
    width:100%;
    display:inline-block;
    text-decoration: none;
}
.roomList li a:hover .roomThumb::after{
    content:'+ More View';
    width:100%; height:100%;
    background:rgba(0,0,0,0.4);
    position:absolute;
    left:0; top:0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:18px;
    color:white;
}
.roomList li a:hover .roomThumb img{
    transform:scale(1.1);
}
.roomThumb{
    width:100%;
    position:relative;
    overflow: hidden;   
}

.roomThumb img{
    width:100%;
    transition:0.5s ease-out;
}
.roomInfo{
    font-size:14px;
    margin-top:20px;
    text-align: center;
    color:black;
}
.room_sum{
    margin-top:10px;
    position:relative;
}
.room_sum::before{
    content:'';
    width:100%; height:0.8px;
    background:#eaeaea;
    position:absolute;
    top:-5px; left:0;
    transform:translateY(100%);
}
/* --------------responsive----------- */

@media (max-width:480px){


}