@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans HK', sans-serif; */
@import url('./common.css');


ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 !important;
    overflow: hidden;
    width:100%;
    position:fixed;
    left:0; top:0;
}

body{width:100%; height:100%;}
/* new */

.about-inner{
    animation:fontAni 2s ease both;
}
@keyframes fontAni {
    0%{
        transform:scale(0.9);
        opacity:0;
    }
    100%{
        transform:scale(1);
        opacity:1;
    }
}

.scrollitem{
    position:absolute;
    left:0; top:0;
    z-index: 1001;
}

.roomwrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.room_preview {
    width: 100%;
    height: 100%;
    position: relative;
}

.room_preview figure {
    width: 100%;
    height: 100%;
}

.room_preview figure img {
    width: 100%;
    height: 100%;
}

.roommain figure {
    position: relative;
}

.roommain-txt {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top:30%;
    color: white;
    z-index: 11;
}


.main_mouse {
    z-index: 11;
}

.room_info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.room_info h2 {
    font-size: 30px;
}

.room_info h2 span {
    font-size: 20px;
    position: relative;
    padding-top: 5px;
    display: inline-block;
}

.room_info a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    overflow: hidden;
    height:0;
    margin:0;
}

.room_info a span {
    transform: translateY(100%);
    display: inline-block;
    transition: all 0.4s ease-out;
}

.room_info p {
    letter-spacing: 5px;
    overflow: hidden;
    height:0;
    margin:0;
}

.room_info p span {
    transform: translateY(100%);
    display: inline-block;
    transition: all 0.4s ease-out;
}

.room_info div {
    width:100%; height:100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 11;
    text-align: center;
    transform: scale(1);
    transition: all 0.5s ease-out;
}

.room_info div::before {
    content: '';
    width: 300px;
    height: 1px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-out;
}

.roommain {
    position: relative;
}

.roommain:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.roommain div h2 {
    font-size: 50px;
}

.roommain div p {
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.roommain div h4 {
    font-size: 14px;
    font-weight: 200;
}

.room_preview:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 10;
    transition: all 0.4s ease-out;
}

.room_preview:hover:before {
    background: rgba(0, 0, 0, 0.4);
}

.room_preview:hover>.room_info a {
    display: block;
}

.room_preview:hover>.room_info p {
    display: block;
}

.room_preview:hover>.room_info div::before {
    top: calc(50% + 50px);
}
.room_preview:hover>.room_info a{
    height:29px;
    margin-top:10px;
}

.room_preview:hover>.room_info a span {
    transform: translateY(0%);
}

.room_preview:hover>.room_info p{
    height:24px;
    margin-top:10px;
}
.room_preview:hover>.room_info p span {
    transform: translateY(0%);
}

.room_preview:hover>.room_info div {
    transform: scale(1.3);
}

@media (max-width:480px){
    .roommain div h2{
        font-size:40px;
    }
    .roommain div h4{
        width:80%; margin:0 auto;
    }
    .sub_mouse{
        bottom:-5% !important;
    }
}