@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans HK', sans-serif; */
@import url('./common.css');


/* special_spot */
.special_spot{
    width:100%; margin:0;
}

.special_spot .spot_txt{
    width:80%; margin:0 auto;
}

.special_spot .spot_txt p{
    text-align: center;
    white-space: pre-line;
    font-size:14px;
    margin-bottom:40px;
    line-height:1.5em;
}
.special_spot .spot_txt p:nth-of-type(1){
    font-size:30px;
    margin-bottom:50px;
}




/* slide */

.slidewrap{
    width: 80%; margin:0 auto;
    height:600px;
    position:relative;
}
.room_photo{
    width:100%; height:100%;
    overflow: hidden;
}

.slick-slider figure{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.slick-slider figure img{
    width:100%; height:100%;
}

.regular{width:100%; height:100%;}

/* direc */

.direc{
    position:absolute;
    margin:0 auto;
    text-align:center;
    width: 100%;
    padding: 0 5%;
    top: 50%;
    transform: translateY(-50%);
}
.direc div{
    width:100%; margin:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.prev, .next{
    color:white !important;
    font-size:3em;
}

/* all_special */

.all_special{
    width:100%; height:100%;
    margin:0 auto;
    padding-bottom:150px;
    background:#fcf3e4;}
.all_special article{
    width:80%; margin:0 auto;
}
.all_special article span{
    width:1px; height:80px;
    background:#1c222e; 
    display:block;
    margin:0 auto 40px;
    transform:translateY(50%);}
.all_special article p{
    text-align: center;
    font-size:30px;
    margin:75px 0 40px;
}
.all_special article div{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.all_special div figure{
    margin-right:20px;
    position:relative;
}
.all_special div figure:nth-of-type(3){
    margin-right:0;
}
.all_special div figure img{
    width:100%;
}
.all_special div figure figcaption a{
    width:100%; height:3em;
    background:#1c222e;
    opacity:0.9;
    color:white;
    position:absolute;
    left:0; bottom:0;
    text-align: center;
    line-height:3em;
    font-size:14px;
    text-decoration: none;
    transition:.5s;
}

.all_special div figure:hover figcaption a{
    height:100%;
    line-height: 23em;
    font-size:18px;
}

footer{
    margin:0;}


/* --------------responsive----------- */

@media (max-width:480px){
    html{width:100%;}
    main{margin:42px 0 0;}
    .prologue_title {
        width:100%; margin:0 auto;
        overflow: hidden;
    }
    .prologue_title figure {
        position:relative;
        width:200%;
    }
    .prologue_title figure img{
        transform:translateX(-40%);
    }
    .prologue_title figure figcaption {
        transform:translateX(-25%);
        color:white;
    }
    .prologue_title figure figcaption p{
        font-size:1rem;
    }
    .prologue_title figure figcaption small{
        font-size:0.7rem;
    }

    /* slide */
    .slidewrap{height:200px;}
    .direc div img{width:8%;}

    /* tab */

    .prologue_tab{
        padding:7% 0;
        width:100%; margin:0 auto;
    }
    .prologue_tab ul{
        display:block;
        text-align:center;
        width:80%; margin:0 auto;
    }
    .prologue_tab ul li{
        display: inline-block;
        margin:2% auto;
        width:40%; height:1.5rem;
        background: #e5e5e5;
        text-align: center;
        line-height: 1.4rem;
    }
    .prologue_tab ul li a{
        font-size:0.7rem;
        display:inline-block;
    }
    
    .special_spot .spot_txt p{
        margin-bottom:20px;
        font-size:0.8rem;
    }
    .special_spot .spot_txt p:nth-of-type(1){
        margin-bottom:30px;
    }
    .special_spot.spot_txt p:nth-of-type(2) small{
        font-size:12px;
    }
    .all_special{padding-bottom:60px;}
    .all_special article span{
        width:1px; height:60px;
        background:#1c222e; 
        display:block;
        margin:0 auto;
        transform:translateY(60%);
    }
    .all_special article p{
        margin: 60px 0 40px;
    }
    .all_special div figure figcaption a{
        height:2em;
        line-height:2em;
        font-size:10px;
    }
    .all_special div figure:hover figcaption a{
        display:none;
    }

}