@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans HK', sans-serif; */
@import url('./common.css');



ul,li{list-style: none; margin:0; padding:0;}



/* main */



/* prologue_spot */
.prologue_spot .subtitle{
    margin-top:0;
}


/* tourist */
.tourist{
    width:80%; margin:0 auto 8%;
}
.tourist ul{
    width:100%; height:100%;
    margin:0 auto 40px;
    display:flex;
    justify-content: space-between;
}
.tourist ul li{
    width:48%; height:100%;
    display:inline-block;
    /* margin-right:20px; */
}
.tourist ul li:nth-of-type(2n){
    /* margin-right:0; */
}
.tourist ul li img{
    width:100%;
}
.tourist ul li div{
    width:100%; height:30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
}
.tourist ul li div b{
    font-size:15px;
}
.tourist ul li div small{
    color:#003a3a;
    font-weight:bold;
    display:inline-block;
    font-size:14px;
}
.tourist ul li span{
    width:100%; height:1px;
    background:#dcdcdc;
    display: inline-block;
    transform:translateY(-10px);
}
.tourist ul li p{
    margin:0;
    font-size:14px;
    line-height:1.5em;}


/* food */

.food ul li{
    width:80%; margin:0 auto;
    padding: 0 0 5%; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    }
.food ul li div{width:45%;}
.food ul li div > img{width:100%;}
.food ul li div:nth-of-type(2){width:45%;}
.food ul li div:nth-of-type(2) h3{
    white-space: pre-line;
    font-size:16px;
}
.food ul li div:nth-of-type(2) h3 small{color:#003a3a;}
.food ul li div:nth-of-type(2) p{
    white-space: pre-line;
    margin:4% 0;
    font-size:14px;
    line-height: 1.7em;
}

.food ul li div:nth-of-type(2) aside:after,
.food ul li div:nth-of-type(2) aside:before{
    content:'';
    display:block;
    width:100%; height:1px;
    background:#eee;
    margin:3% 0;
}
.food ul li div:nth-of-type(2) aside span{
    display:inline-block;
    width:100%; height:auto;
    line-height:1.5em;
    font-size:12px;
    padding-left:25px;
    margin:5px 0;
}
.food ul li div:nth-of-type(2) aside span:nth-of-type(1){
    background:url('../imgs/icon_call.png') no-repeat;
}
.food ul li div:nth-of-type(2) aside span:nth-of-type(2){
    background:url('../imgs/icon_location.png') no-repeat;
    background-position-x: 2px;
}
.food ul li div:nth-of-type(2) aside span:nth-of-type(3){
    background:url('../imgs/icon_time.png') no-repeat;
}
.food ul li div:nth-of-type(2) aside span:nth-of-type(4){
    background:url('../imgs/icon_shop.png') no-repeat;
}



/* --------------responsive----------- */

@media (max-width:480px){
    html{width:100%;}
    main{margin:42px 0 0;}


    .prologue_title {
        width:100%; margin:0 auto;
        overflow: hidden;
    }
    .prologue_title figure {
        position:relative;
        width:200%;
    }
    .prologue_title figure img{
        transform:translateX(-40%);
    }
    .prologue_title figure figcaption {
        transform:translateX(-25%);
        color:white;
    }
    .prologue_title figure figcaption p{
        font-size:1rem;
    }
    .prologue_title figure figcaption small{
        font-size:0.7rem;
    }
    .prologue_tab ul li{
        width:6rem; height:1.5rem;
        line-height: 1.4rem;
    }
    .prologue_tab ul li a{
        display:inline-block;
        font-size:0.7rem;
    }
    
    .prologue_spot{width:100%; margin:0 auto;}
    .tourist ul{
        width:100%; height:100%;
        display:block;
        margin:0 auto;
    }
    .tourist ul li{
        width:100%; height:100%;
        display:inline-block;
        margin:0 0 30px;
    }
    .tourist ul li div small{
        font-size:0.6rem;
    }

    .food ul{width:80%; margin:0 auto;}
    .food ul li{
        width:100%; height: 100%;
        margin:40px auto;
        display:block;
    }
    .food ul li div{width:100%;}
    .food ul li div:nth-of-type(2){width:100%;}
    .food ul li:nth-of-type(1) div:nth-of-type(1){
        margin-top:70px;
    }
    .food ul li div:nth-of-type(2) h3{
        margin-top:3%;
    }
    .food ul li div:nth-of-type(2) p{
        margin:6% 0;
    }
    .food ul li div:nth-of-type(2) aside span{
        white-space: pre-line;
    }    
}
